<!DOCTYPE html>
<html>
  <head>
    <title>Sturdy Pancake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag  'application',  media: 'all',  'data-turbolinks-track': 'reload'  %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div>This is only the Backend/API for Plantly</div>
    <%= yield %>
  </body>
</html>
